@media (min-width: 320px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .section4{
        border: 3px solid red;
    }
    .sec4_main{
        width: 90%;
        margin: auto;
    }
    .sec4_a {
        background-color: orangered;
        padding-top: 20px;
    }
    .sec4_a_2 {
        color: white;
    }
    .sec4_a_2 p {
        text-align: left;
        font-size: 26px;
    }
    
    .sec4_a_2 h2 {
        text-align: left;
        font-size: 45px !important;
        font-weight: 700;
    }
    
    .sec4_a_2 h1 {
        text-align: left;
        font-size: 45px;
        font-weight: 500;
    }
    .sec4_b{
        margin-top: 30px;
    }
    .sec4_b p{
        text-align: left;
        font-size: 20px;
        color: rgb(45, 45, 45);
    }
    .sec4_d h1 {
        font-size: 46px;
        font-weight: 800;
        line-height: 1em;
    }
    
    .sec4_d p {
        font-size: 30px;
        line-height: 1em;
        font-weight: 700;
    }
    .sec4_e{
        border: 2px solid red;
        color: red;
    }
    .edit{
        font-size: 48px !important;
        line-height: 1em;
        font-weight: 900;
    }
    .edit_p{
        font-size: 22px !important;
        text-align: center;
    }
    .sec4_f_1{
        font-size: 20px;
        text-align: left;
    }
    .section4 button {
        background-color: orangered;
        border-radius: 7px;
        color: #fff;
        width: 90%;
        /* height: 170px; */
        margin: auto;
    }
    .item1{
        background-color: #efefef;
        padding: 20px;
        
    }
    .grid{
        text-align: left;
        font-size: 18px;
        color: rgb(34, 34, 34);
    }
    .grid h1{
        color: #002462;
        text-align: center;
        font-size: 38px;
        line-height: 1em;
        font-weight: 900;

    }
    
    .top_bottom{
        border-top: 1px solid grey;
        border-bottom: 1px solid grey;
        padding: 10px;
        text-align: center;
    }
    .top_bottom h4{
        font-size: 24px;
        line-height: 1em;
        font-weight: 700;
    }
}

@media (min-width: 375px) {}

@media (min-width: 425px) {}

@media (min-width: 768px) {}

@media (min-width: 1024px) {
    .grid {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin: auto;
    }
    .item1 {
        width: 348px;
       /* background-color: aqua; */
    
    }
    .img_grid{
        width: 280px;
        height: 180px;
        margin: auto;
    }
    .section4 button {
        height: 170px;
        margin: auto;
    }
    .sec4_a {
        display: flex;
        justify-content: space-between;
    }
    .sec4_a_1 img{
        width: 700px;
        margin-left: 10px;

    }
    .sec4_a_1{
        flex: 1;
    }
    .sec4_a_2{
        color: white;
        flex: 3;
        padding-left: 30px;
    }
    .sec4_a_2 p{
        font-size: 2rem;
        line-height: 1em;
    }
    .sec4_a_2 h2{
        font-size: 60px;
        font-weight: bold;
        line-height: 1em;
    }
    .sec4_a_2 h1{
        font-size: 45px;
        font-weight: 700;
        line-height: 1em;
    }
    .sec4_b p{
        font-size: 22px;
    }
    .sec4_d h1{
        font-size: 80px;
        font-weight: 800;
    }
    .sec4_d p {
        font-size: 40px;
        font-weight: 700;
    }
    .sec4_e h1{
        font-size: 50px;
    }
    .sec4_f{
        display: flex;
        justify-content: space-between;
    }
    .sec4_f_1{
        flex: 1;
    }
    .sec4_f_2 {
        flex: 1;
    }
    .Hsection4___>div :nth-child(4) {
        font-weight: bold;
    }
    
    .Hsection4___>div :nth-child(5) {
        font-weight: bold;
        font-size: 3rem;
        text-align: center;
        padding-right: 1rem;
        
    }
    
    .Hsection4___>div :nth-child(6) {
        font-weight: bold;
        font-size: 1.5rem;
        text-align: center;
        padding-right: 1rem;
        
    }
}