
@media (min-width: 320px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .section2_main{
        width: 100%;
        margin: auto;

    }
    .section1_main_2{
        padding-top: 15px;
    }
    
    .sm2_img{
        width: 230px;
    }
    .sm_1{
        padding-top: 10px;
    }
    .sm2_1{
        border-top: 1px gray solid;
        border-bottom: 1px gray solid;
        margin-top: 30px;
    }
    .Hsection2_flex_2_p2 {
        font-size: 3em;
        font-weight: 700;
        color: #002462;
    }
    
    .Hsection2_flex_2_p1 {
        font-size: 2em;
        font-weight: 700;
        color: #1e4da7;
    }
    .section2_main_mid{
        
        width: 95%;
        margin: auto;
        margin-top: 50px;
       
    }
    .sec2_mid_1 p{
        text-align: left;
        font-size: 20px;


    }
    .exclaim{
        display: none;
    }
    .change_color{
        color: #002462;
    }
    .bold_text{
        font-weight: bold;
    }
    .underline_text{
        text-decoration: underline;
    }
    .Hsection2_section_3 {
        background-color: #e4eff9;
        border: 3px solid lightblue;
        width: 100%;
        margin: auto;
        margin-top: 2em;
    }
    .Hsection2_section_3 h2 {
        color: #002462;
        font-weight: 900 !important;
        font-size: 32px;
        line-height: 1em;
        letter-spacing: -1px;
        text-align: center;
        padding: 2rem;
    }
   
    
    .Hsection2_section_3_form>div {
        display: flex;
        
    }
    form p{
        margin-left: 25px;
        font-size: 24px;
        line-height: 1.3em;
        opacity: 1;
    }
    .Hsection2_section_3_form>div>input {
        margin-right: 1rem;
    }
    .Hsection2_section_3 p{
        font-size: 25px;
        line-height: normal;
    }
    .Hsection2_section_3 input{
        font-size: 25px;
        -webkit-transform: scale(1.5);
        margin-left: 15px;
    }
    .Hsection2_section_3_form{
        text-align: left;
    }
    .big_p{
        font-weight: 900;
        font-size: 65px !important;
        letter-spacing: -1px;
        line-height: 1em;
    }
    .dollar_h1{
        margin-bottom: 20px;
    }
    .dollar_h1 h1{
        font-weight: 300;
    }
    .dollar_here{
        margin-top: 30px;
    }
    .dollar_here h1{
        color: rgb(0, 36, 98);
        font-size: 52px !important;
        letter-spacing: -1px;
        line-height: 1em;
        font-weight: 900;
    }
    .exchange{
        font-size: 38px;
        letter-spacing: -1px;
        line-height: 1em;
        font-weight: 900;

    }
    
    
}

@media (min-width: 375px) {}

@media (min-width: 425px) {}

@media (min-width: 768px) {
    
}

@media (min-width: 1024px) {
    .section2_main {
        width: 90%;
        margin: auto;
    
    }
    .exclaim {
        display: block;
    }
    .Hsection2_section_3 {
        background-color: #e4eff9;
        border: 3px solid lightblue;
        width: 98%;
        margin: auto;
        margin-top: 2em;
    }
    .section2_main_top {
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
    }
    form p {
        font-size: 32px;
        line-height: 1.3em;
        opacity: 1;
    }
    
    .sec2_mid_2 img {
        width: 300px;
        height: 500px;
    }
    .Hsection2_flex_2_p2 {
        font-size: 5em;
    }
    
    .Hsection2_flex_2_p1 {
        font-size: 4em;
    }
    
    .section2_main_mid {
        display: flex;
        justify-content: space-around;
    }
    .Hsection2_section_3 h2 {
        font-size: 36px;

    }
    .section2_dollar{
        margin: auto;
        margin-top: 20px;
    }

    .section2_dollar h1{
        font-size: 40px;
    }
    .dollar_h1 h1 {
        font-weight: 300;
    }
    
    .dollar_here h1 {
        font-size: 72px;
        
    }
    .dollar_pp p{
        font-size: 20px;
        text-align: left;
        font-stretch: ultra-expanded;
        margin-left: 60px;

    }
    .big_p{
        font-size: 100px;
        font-weight: 900;
    }
    .Hsection2_div_img_Testimo {
        width: 40rem;
        margin: auto;
        display: block;
    }
    .need_h1 h1{
        font-size: 50px;
        font-weight: 700;
    }
    .exchange {
        font-size: 52px;
        letter-spacing: -1px;
        line-height: 1em;
        font-weight: 900;
    
    }
    .Hsection2_section_3 h2 {
        font-size: 46px;
        
    }
    
}