@media (min-width: 320px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .section1 {
    background: linear-gradient(135deg, #002462 0, #012d79, #0053b7 100%);
    color: white;
  }
  .section1_main_1 h1 {
    font-size: 22px;
    font-weight: 300;
    line-height: 33px;
  }
  .sm_1 {
    display: flex;
    flex-direction: row;
    width: 300px;
    margin: auto;
    justify-content: space-between;
  }
  .sm_2 div {
    width: 50px;
    height: 50px;
    margin: auto;
    border: 4px white solid;
    border-radius: 100%;
    align-content: center;
  }
  .btnnn_p{
    display: block;
    opacity: 0.7;
    font-weight: normal;
  }
  
  .sm_2 {
    margin: auto;
    text-align: center;
  }
  
  .section1 button {
    background-color: orangered;
    border-radius: 7px;
    color: #fff;
    padding: 0px 10px 0px 10px;
  }
  .section1_main_2 {
    background-color: #002462;
  }
  .sm_h3 h3{
    font-weight: 300;
  }
  .sm_h2 h2{
    font-weight: 500;

  }
  .boxshadow{
    background-color: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    width: 100%;
    margin: auto;
  }
  video {
    width: 300px;
    height: 300px;
  }
  .h3_1{
    display: none;
  }
  
}
@media (min-width: 375px) {
}
@media (min-width: 425px) {
  video {
    width: 400px;
    height: 400px;
  }
  .sm_1 {
    display: flex;
    flex-direction: row;
    width: 400px;
    margin: auto;
    justify-content: space-between;
  }
  .sm_2 div {
    width: 70px;
    height: 70px;
    margin: auto;
    border: 4px white solid;
    border-radius: 100%;
    align-content: center;
  }
}
@media (min-width: 768px) {
  .section1_main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .sm_1 {
    display: flex;
    flex-direction: row;
    width: 300px;
    margin: auto;
    justify-content: space-between;
  }
  
  .sm_2 div {
    width: 50px;
    height: 50px;
    margin: auto;
    border: 4px white solid;
    border-radius: 100%;
    align-content: center;
  }


}
@media (min-width: 1024px) {
  .boxshadow {
    background-color: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    width: 80%;
    margin: auto;
  }
  .section1_main_2 button {
    width: 550px;
    padding: 0px 10px 0px 10px;
  }
  .headline_image {
    width: 70%;
  }
  .section1_main {
    display: flex;
    justify-content: space-between;
  }
  .section1_main_1{
    flex: 1;
  }
  video{
    width: 700px;
    height: 400px;
  }
  .section1_main_2{
    height: 600px;
    margin-left: 30px;
    flex: 1;
  }
  .bord {
    width: 60%;
  }
  .sm_1 {
    display: flex;
    flex-direction: row;
    width: 400px;
    margin: auto;
    justify-content: space-between;
  }
  .sm_2 {
    text-align: center;
  }
  .sm_2 div {
    width: 70px;
    height: 70px;
    margin: auto;
    border: 4px white solid;
    border-radius: 100%;
    align-content: center;
  }
  .h3_1 {
    display: block;
  }
  .h3_2{
    display: none;
  }
  
}
